@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Providing high quality training in a wide range of software and developer tools
            </p>
        </div>
    </section>
}

<article>
<ol class="round">
    <li class="one">
        <h5><a href="@Url.Action("Index", "Courses")">View all courses</a></h5><br />
        
    </li>
    <li class="two">
        <h5>Search for a course</h5>
        <form action="@Url.Action("ByNumber", "Courses")" method="get">
           <input type="text" name="number" maxlength="4" value="AB12"/>
            <input type="submit" value="Search"/>
        </form>
    </li>

</ol>
</article>


<aside>
    <h2>What others have to say</h2>
    <img src="../Images/dictionary.jpg" class="image" />
    <p>"The quality of the materials made the course content very easy to follow."</p> <br />
    <p>"The instructors are always willing to answer questions."</p> <br />
    <p>"I would recommend Suineg to others."</p>

</aside>